<div class="row">
  <div class="col-md-8">
    <%= render :partial => 'shared/post_preview' %>
    <%= render :partial => 'shared/post_preview' %>
  </div>
  <div class="col-md-4">
    <%= render :partial => 'shared/subscribe' %>
    <%= render :partial => 'shared/aboutme' %>
  </div>
</div>