<div class="col-sm-6 col-md-4 project-preview">
  <div class="card">
    <%= image_tag object.image.thumb('350x350#').url, class: 'card-img-top' %>
    <h3 class="card-title"><%= object.title %></h3>
  </div>
</div>
