<div class="form-group article_tag">
    <%= f.object.name %>
    <%= f.hidden_field :slug %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :_destroy %>
    <span class="fa fa-close delete_article_tag"></span>
</div>
