<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'shared/blog_post', :locals => { :object => @article } %>
  </div>
  <div class="col-md-3">
    <%= render :partial => 'shared/categories' %>
    <%= render :partial => 'shared/subscribe' %>
    <%= render :partial => 'shared/aboutme' %>
  </div>
</div>
