<footer class="footer">
  <div class="container">
    <div class="blog-footer-social-buttons">
      <%= render :partial => 'shared/social_icons' %>
    </div>
    <div class="blog-footer-text">
      <small>
        Copyright (c) <%= Date.today.year %> Smirnov Konstantin. All Rights Reserved.
      </small>
    </div>
  </div>
</footer>
