<div class="blog-post-preview">
  <h2><%= link_to "#{object.title}", article_path(object) %></h2>
  <div class="post-header">
      <span class="section"><a href="#">Lifestyle</a></span>
      <span>by <a href="#">Konstantin</a></span>
      <span><i class="fi-calendar"></i> August 31, 2016</span>
      <span>Tags: <a href="#">colors</a></span>
      <br>
      <span><a href="#"><i class="fi-comment"></i> 3 Comments</a></span>
  </div>
  <p>
    <%= markdown(object.description) %>
  </p>
  <div class="post-footer">
      <%= link_to "Continue Reading", article_path(object), {:class => 'continue'} %>
      <div class="share">
          Share:
          <a href="#"><i class="fi-social-facebook"></i></a>
          <a href="#"><i class="fi-social-twitter"></i></a>
          <a href="#"><i class="fi-social-pinterest"></i></a>
      </div>
  </div>
</div>
