<div class="card">
  <div class="card-block">
    <form>
        <div class="form-group">
            <label class="sr-only" for="subscribeEmail">Email address</label>
            <input type="email" class="form-control" id="subscribeEmail" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
