<div class="card">
  <div class="card-block">
    <form>
        <div class="form-group">
            <label class="sr-only" for="searchField">Search field</label>
            <input type="text" class="form-control" id="searchField" placeholder="Enter a phrase...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <%= link_to "Search", search_path %>
    </form>
  </div>
</div>
