<% if @social_icons_list %>
  <% @social_icons_list.each do |icon| %>
    <a href="<%= icon["link"] %>" target="_blank"><i class="fa fa-<%= icon["icon_text"] %> <%= should_be_white? ? 'text-white' : nil %>"></i></a>
  <% end %>
<% end %>
