<% provide(:title, "Home") %>

<section class="sec-main element0">
  <h1 class="main-heading type"></h1>
</section>
<br>
<section id="about" class="sec-about">
  <div class="container text-xs-center">
    <h1>About</h1>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <p>Hi, my name is Alex Devero and I am a Web Designer & Developer based in Prague. I love crafting beautiful web pages in HTML5, CSS3 and JavaScript or jQuery. My other skills include WordPress, Photoshop, Illustrator. You can grab my CV in
          <a href="#">English</a> or <a href="#">Czech</a> version. If you want to hire me or just to talk, <a class="js-connect" href="#footer">connect</a> with me.</p>
      </div>
    </div>
  </div>
  <br>
</section>
<section id="services" class="sec-services">
  <div class="container text-xs-center">
    <h1>Services</h1>

    <div class="row">
      <div class="col-sm-4">
        <i class="fi-paint-bucket"></i>

        <h2 class="h3">Beautiful Design</h2>

        <p>Every website is beautiful, unique and tailored to suit your needs and requirements.</p>
      </div>

      <div class="col-sm-4">
        <i class="fi-laptop"></i>

        <h2 class="h3">Clean Code</h2>

        <p>All websites are written in valid and clean HTML5 / CSS3 &amp; JavaScript (jQuery).</p>
      </div>

      <div class="col-sm-4">
        <i class="fi-tablet-portrait"></i>

        <h2 class="h3">Always Responsive</h2>

        <p>All websites are responsive. They will look great on desktop, tablets and mobile phones too.</p>
      </div>
    </div>
  </div>
</section>
