<% provide(:title, "About") %>
<% if @about %>
  <section class="section-about">
    <%= image_tag @about.image.thumb('800x300#').url, class: 'background-img' if @about.image_stored? %>
    <div class="row">
      <div class="about-text col-md-7">
        <%= markdown(@about.content) %>
      </div>
    </div>
  </section>
<% else %>
  <h1>About page is not set up. Please create one.</h1>
<% end %>
