<div class="card">
  <div class="card-block">
    <%= form_tag("/search", method: "get") do %>
      <div class="input-group input-group-md">
        <%= text_field_tag :search_query, params[:search_query], class: 'form-control', placeholder: 'Write something...', :autocomplete => 'off' %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
