<% provide(:title, "About") %>

<section class="section-about">
  <img class="about-image" src="https://img3.goodfon.ru/original/1024x552/0/1c/kot-koshka-mordochka-profil-524.jpg">
  <div class="row">
    <div class="about-text col-md-7">
      <%= markdown(@about.top_block_content) if @about %>
    </div>
  </div>
</section>
