<% provide(:title, "About") %>

<div class="blog-about-code">
  <div class='element1'>
    <p>
      <span class="prompt">
        smi:about smi$
      </span>
      <span class="type">
      </span>
    </p>
  </div>
  <div class="element2 hidden">
    <p>
      <span class="prompt">
        smi:about smi$
      </span>
      <span class="type">
      </span>
    </p>
  </div>
  <div class="element3 hidden">
    <p>
      <span class="prompt">
        smi:about smi$
      </span>
      <span class="type">
      </span>
    </p>
  </div>

</div>
<br>
