<% provide(:title, "About") %>

<div class="blog-about-code">
  <div class='element1'>
    <p>
      <span class="prompt">
        smi:~ smi$
      </span>
      <span class="type">
      </span>
    </p>
  </div>
  <div class="element2 hided">
    <p>
      <span class="prompt">
        smi:blog smi$ executing
      </span>
      <span class="type">
      </span>
    </p>
  </div>
</div>

<section class="section-about hided">
  <div class="row">
    <div class="about-text col-md-7">
      <h1>
        Welcome here!
      </h1>
      <p>
        My name is Konstantin, Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.
      </p>
      <p>
        Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.
      </p>
    </div>
  </div>
</section>
