.cover-image {
  position: absolute;
  // padding-top: 0px;
  // height: 93vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.video-section {
  background-color: #0B1829;

}

.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.jumbotron {
  color: #fff;
  margin-top: (100vh/4);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  h1 {
    font-size: 100px;
  }
}
