<h1>More interesting articles:</h1>
<br>
<div class="row">
  <% @random_articles.each do |random_article| %>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">
            <%= link_to "#{random_article.title}", article_path(random_article) %>
          </h5>
          <% random_article.images.primary_images.each do |primary_image| %>
            <%= image_tag primary_image.image.thumb( '480x300>' ).url %>
          <% end %>
          <p>
            <%= random_article.description %>
          </p>
          <div class="blog-article-footer">
            <div class="continue">
              <%= link_to "Continue Reading", article_path(random_article) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
